<div class="flex h-16 items-center bg-background">
  <div class="flex w-full items-center justify-between px-7 text-[13px] font-medium">
    <div class="text-muted-foreground/50">
      <span class="mr-2">{{ year }}©</span>
      <a href="" target="_blank" class="hover:text-primary">
        TaxNg
      </a>
    </div>
    <ul class="flex text-muted-foreground/50">
       <li class="hover:text-primary">
        <a  routerLink="/" target="_blank" class="menu-link px-2">Home</a>
      </li>
      <li class="hover:text-primary">
        <a  routerLink="/calculateTax" target="_blank" class="menu-link px-2">
          Calcuator
        </a>
      </li>
      <li class="hover:text-primary">
        <a  routerLink="/learn" target="_blank" class="menu-link px-2">Learn</a>
      </li>
     
    </ul>
  </div>
</div>
