
      <!-- Calculation Mode Tabs -->
  <div class="bg-white shadow p-4 rounded-xl flex justify-center space-x-4 mb-6 sticky top-0 z-0 sm:z-10">
  <button
    (click)="calculationMode='byTitle'"
    [ngClass]="calculationMode==='byTitle' ? 'bg-primary text-white' : 'bg-gray-200 text-gray-700'"
    class="px-4 py-2 rounded-xl font-semibold transition"
  >
    By Role Title
  </button>

  <button
    (click)="calculationMode='byCategory'"
    [ngClass]="calculationMode==='byCategory' ? 'bg-primary text-white' : 'bg-gray-200 text-gray-700'"
    class="px-4 py-2 rounded-xl font-semibold transition"
  >
    By Tax Category
  </button>

  <button
    (click)="calculationMode='byEntity'"
    [ngClass]="calculationMode==='byEntity' ? 'bg-primary text-white' : 'bg-gray-200 text-gray-700'"
    class="px-4 py-2 rounded-xl font-semibold transition"
  >
    By Entity / Business
  </button>
</div>


      <!-- Calculator Card -->
      <div class="bg-white shadow-2xl rounded-3xl p-10 w-full max-w-3xl mx-auto">
        <!-- Title -->
        <h2 class="text-3xl md:text-4xl font-bold text-gray-800 mb-8 text-center">
          🇳🇬 Nigeria 2026 Tax Calculator
        </h2>
    
           <!-- By Role Title Form -->
        <ng-container>
     
          <form *ngIf="calculationMode==='byTitle'" [formGroup]="titleForm" (ngSubmit)="onCalculate()" class="grid grid-cols-1 gap-6">

          <!-- Role select -->
          <div>
              <label class="block text-gray-700 font-medium mb-2">Role Title</label>
              <select formControlName="role"
              class="w-full border border-gray-300 rounded-xl px-5 py-3 focus:ring-2 focus:ring-blue-500 focus:outline-none">
              <option value="" disabled selected>Select a role</option>
              <option *ngFor="let role of Roles" [value]="role.title">{{ role.title }}</option>
              </select>
          </div>

          <!-- Income input -->
          <div>
              <label class="block text-gray-700 font-medium mb-2">Annual Income / Turnover (₦)</label>
              <input  type="text"
                [value]="formattedIncome"
                (input)="onIncomeInput($event)"
                (blur)="formatIncome()" placeholder="Enter income"
              class="w-full border border-gray-300 rounded-xl px-5 py-3 focus:ring-2 focus:ring-blue-500 focus:outline-none" />
          </div>

          <!-- Submit button -->
          <button type="submit" [disabled]="titleForm.invalid"
              class="w-full bg-primary text-white font-semibold py-3 rounded-xl hover:bg-gray-300 transition duration-300">
              Calculate Tax
          </button>
          </form>

        </ng-container>

        <!-- By Tax Category Form -->
        <form *ngIf="calculationMode==='byCategory'" [formGroup]="categoryForm" (ngSubmit)="calculateTaxBycategoryNameRoleAndIncome()" class="grid grid-cols-1 gap-6">
         <!-- Tax name -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">Tax Category</label>
            <select formControlName="category"
              class="w-full border border-gray-300 rounded-xl px-5 py-3 focus:ring-2 focus:ring-blue-500 focus:outline-none">
                <option value="" disabled selected>Select a tax category</option>
              <option *ngFor="let c of categories" [value]="c.name">{{ c.name }}</option>
              
            </select>
          </div>

          <!-- Role -->
            <div>
            <label class="block text-gray-700 font-medium mb-2">Role</label>
           <select formControlName="role"
            class="w-full border border-gray-300 rounded-xl px-5 py-3 focus:ring-2 focus:ring-blue-500 focus:outline-none">
            <option value="" disabled selected>Select a role</option>
            <option *ngFor="let role of RolesByCategory" [value]="role.title">{{ role.title }} 
              <!-- --({{ role.entityType }}) -->
            </option>
            </select>
          </div>

          <!--  Annual Income / Turnover -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">Annual Income / Turnover (₦)</label>
            <input type="number" formControlName="income" placeholder="Enter income or turnover"
              class="w-full border border-gray-300 rounded-xl px-5 py-3 focus:ring-2 focus:ring-blue-500 focus:outline-none" />
          </div>
          <button type="submit" [disabled]="categoryForm.invalid"
            class="w-full bg-primary text-white font-semibold py-3 rounded-xl hover:bg-blue-700 transition duration-300">
            Calculate Tax
          </button>
        </form>

        <!-- By Entity Form -->
        <form *ngIf="calculationMode==='byEntity'" [formGroup]="taxFormByEntity" (ngSubmit)="calculateTaxBycategoryNameRoleEntityAndIncome()" class="grid grid-cols-1 gap-6">
          <!-- User  type -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">User Type</label>
            <select formControlName="userType"
              class="w-full border border-gray-300 rounded-xl px-5 py-3 focus:ring-2 focus:bg-primary focus:outline-none">
               <option value="" disabled selected>What type of user are you?</option>
              <option value="Individuals">Individual</option>
              <option value="Businesses">Business</option>
            </select>
          </div>
<!-- categories -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">Tax Category</label>
              <select formControlName="category"
              class="w-full border border-gray-300 rounded-xl px-5 py-3 focus:ring-2 focus:ring-blue-500 focus:outline-none">
                <option value="" disabled selected>Select a tax category</option>
              <option *ngFor="let c of categoriesByUserType" [value]="c.name">{{ c.name }}</option>
            </select>
          </div>

          <!--  roles -->
          <div>
            <label class="block text-gray-700 font-medium mb-2">Role</label>
             <select formControlName="role"
            class="w-full border border-gray-300 rounded-xl px-5 py-3 focus:ring-2 focus:ring-blue-500 focus:outline-none">
            <option value="" disabled selected>Select a role</option>
            <option *ngFor="let role of RolesByCategoryAndUserType" [value]="role.title">{{ role.title }} </option>
            </select>
          </div>

          <div>
            <label class="block text-gray-700 font-medium mb-2">Annual Income / Turnover (₦)</label>
            <input type="number" formControlName="income" placeholder="Enter your income"
              class="w-full border border-gray-300 rounded-xl px-5 py-3 focus:ring-2 focus:ring-blue-500 focus:outline-none" />
          </div>

          <button type="submit" [disabled]="taxFormByEntity.invalid"
            class="w-full bg-primary text-white font-semibold py-3 rounded-xl hover:bg-primary transition duration-300">
            Calculate Tax
          </button>
        </form>

  
      </div>


      <!-- Modal -->
<app-success-modal
  [show]="showModal"
  [title]="modalTitle"
  [message]="modalMessage"
  [data]="modalData"
  [type]="modalType"
  (closed)="showModal = false"
/>

